<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="../../public/img/weather.png">
    {{>bootstrap}}
  </head>
  {{>header}}
  <div class="container">
    <h6 class="display-6">Use this site to get your weather</h6>
    <form class="input-group" style="width: 30%;">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-dark">search</button>
    </form>
    <p class="fw-bold" id="msg1"></p>
    <p id="msg2"></p>
  </div>
    <p id="msg1"></p>
  <script src='./js/script.js'></script>
  {{>footer}}
  </body>
</html>